{% extends 'ai_sub.html' %}
{% block body %}
<h3 class="card-title">STAFF</h3>
<br><br>
<form method="POST" action="/admin_staff_search">
    <div class="advance-search">
        <div class="row">
            <input type="text" name="s" value="{{ s }}" placeholder="Search" class="form-control" />
            <br/>
        </div>
        <div class="row third">
            <div class="input-field">
                <div class="result-count"></div>
                <div class="group-btn">
                    <br/>
                    <input type="submit" value="Search" class="btn btn-danger">
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-12">
        <!-- STAFF LIST -->
        <div class="card">
            <div class="card-header">
                <!-- You can add a title or any other header content here -->
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Phone</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in values %}
                        <tr>
                            <td><img src="{{ i.image.url }}" width="50" height="50" class="rounded-circle" alt="{{ i.name }}"></td>
                            <td>{{ i.name }}</td>
                            <td>{{ i.place }} {{ i.post }} {{ i.pin }}</td>
                            <td>{{ i.phone }}</td>
                            <td>
                                <a href="/edit_staff/{{ i.id }}" class="btn btn-info btn-sm">EDIT</a>
                                {% if i.login_ID.type == 'staff' %}
                                <a href="/delete/{{ i.id }}" class="btn btn-danger btn-sm">BLOCK</a>
                                {% else %}
                                <a href="/un_delete/{{ i.id }}" class="btn btn-primary btn-sm">UNBLOCK</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Pagination -->
                <div class="pagination">
                    {% if previous_page %}
                    <a href="?page={{ previous_page }}">Previous</a>
                    {% endif %}
                    <span>Page {{ current_page }} of {{ total_pages }}</span>
                    {% if next_page %}
                    <a href="?page={{ next_page }}">Next</a>
                    {% endif %}
                </div>
            </div>
            <div class="card-footer text-center">
                <a href="/add_staff" class="btn btn-primary">ADD NEW</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
